# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/.venv/
backend/venv/
backend/env/

# Flask
backend/instance/
.flaskenv

# SQLite
*.db
*.sqlite3

# VS Code
.vscode/

# Windows
Thumbs.db